body{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ccc;
    margin: 0;
}
header{
    background-image: url(../images/bg-3.jpg);
    height: 500px;
    background-position: right center;
}

.menu{
    list-style: none;
    display: inline-block;
    color: white;
    background-color: rgba(107, 107, 107, 0.432);
    text-align: right;
}

ul{
    padding: 0;
    margin-left: 3px;
}

.item1{
    display: inline-block;
    padding: 5px;
}

.titles{
    text-align: center;
    color: white;
}